html {
    background: black;
}
a {
    color: #0078a5;
}
a:hover,
a:focus {
    color: #064E68;
}
body {
    padding-top: 60px;
    padding-bottom: 40px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    width: 600px;
    padding: 20px;
    background: white;
    margin: 1em auto;
    text-align: center;
}
header {
    text-align: center;
}
h1 {
    text-align: center;
    color: #25aae1;

    font-family: 'Bangers', sans-serif;
    text-shadow: 2px 2px 2px #333;

    font-style: normal;
    font-weight: normal;
    letter-spacing: 4px;
    margin-bottom: 0;
}
h1 .weston-ruter {
    display: block;
    font-size: 2.8em;
}
h1 .thunderboy {
    display: block;
    font-size: 1.5em;
}
h1 .pronunciation {
    cursor: help;
}
h1 .paren {
    color: #eee;
    text-shadow: none;
}
h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
}

.avatar {
    box-shadow: 2px 2px 5px #222;
    padding: 10px;
    -webkit-border-radius: 138px; /* 128px + 10px*/
    border-radius: 138px; /* 128px + 10px*/
    background: #25aae1;
    display: inline-block;
}
.avatar:first-child {
    margin-right: 24px;
}
.avatar img {
    width: 256px;
    height: 256px;
    display: block;

    mask: url(/images/circle-mask.svg#mask); /* Firefox can use SVG mask */
    -webkit-mask-image: url(/images/circle-mask.svg#circle); /* Chrome and Safari */
    /* Other browsers get image[src] set to [data-srcmasked] */
}


/**
 * Begin code adapted from http://www.webdesignerwall.com/demo/css-buttons.html
 */

/* button
---------------------------------------------- */
.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 18px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
    color: white;
}
.button:active {
    position: relative;
    top: 1px;
    color: white;
}
.button:focus {
    color: white;
}

.bigrounded {
    -webkit-border-radius: 2em;
    border-radius: 2em;
}
.medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}
.small {
    font-size: 11px;
    padding: .2em 1em .275em;
}
/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#25aae1), to(#0078a5));
    background: -moz-linear-gradient(top,  #25aae1,  #0078a5);
    background: -ms-linear-gradient(top,  #25aae1,  #0078a5);
    background: -o-linear-gradient(top,  #25aae1,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#25aae1', endColorstr='#0078a5');
}
.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    background: -ms-linear-gradient(top,  #0095cc,  #00678e);
    background: -o-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    background: -ms-linear-gradient(top,  #0078a5,  #00adee);
    background: -o-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/**
 * End code from http://www.webdesignerwall.com/demo/css-buttons.html
 */

.heroized {
    line-height: 1.4em;
    color: #222;
    margin-left: 1em;
    margin-right: 1em;
}
.heroized blockquote {
    margin: 0;
}
.heroized blockquote:before,
.heroized blockquote:after {
    color: #999;
}
.heroized blockquote:before {
    content: "“";
    padding-right: 0.3ex;
}
.heroized blockquote:after {
    content: "”";
    padding-left: 0.3ex;
}
.heroized figcaption {
    white-space: nowrap;
    margin-left: 1ex;
    font-size: smaller;
    font-style: italic;
    color: #999;
}
.heroized figcaption a {
    margin-left: 0.5ex;
    color: #ddd;
    vertical-align: middle;
    display: inline-block;

    background-image: url("/images/heroized-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
    width: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 100%;
}
.heroized figcaption a:hover {
    color: #064E68;
}
.heroized blockquote,
.heroized figcaption {
    display: inline;
}
.profiles {
    /* todo: icons */
    margin-top: 1em;
}
.profiles:before {
    content: "{";
}
.profiles:after {
    content: "}";
}
.profiles a {
    white-space: nowrap;
}
.employment {
    color: #666;
    font-style: italic;
    margin-top: 2em;
}
.employment .org {
    background-image: url("/images/x-team-logo.png");
    background-size: 200px 70px;
    display: block;
    margin: 0.5em auto;
    width: 200px;
    height: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 100%;
}
.contact {
    color: #999;
    font-size: smaller;
}
.contact a {
    color: #666;
    text-decoration: none;
}
.contact a:hover {
    text-decoration: underline;
}
footer {
    color: #ddd;
    font-size: small;
}

@media (max-width: 640px) {
    body {
        width: 340px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
    }
    h1 .weston-ruter {
        font-size: 1.5em;
    }
    h1 .thunderboy {
        font-size: 1em;
    }
    h2 {
        font-size: 1em;
    }
    .avatar,
    .avatar img {
        width: 128px;
        height: 128px;
    }
    .avatar {
        padding: 5px;
        -webkit-border-radius: 133px; /* 128px + 5px*/
        border-radius: 133px; /* 128px + 5px*/
    }
    .avatar:first-child {
        margin-right: 12px;
    }
}
@media (max-width: 320px) {
    body {
        width: auto;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        margin: 0;
    }
    h1 .weston-ruter {
        font-size: 1.3em;
    }
    .avatar,
    .avatar img {
        width: 100px;
        height: 100px;
    }
    .avatar {
        margin-left: auto;
        margin-right: auto;
    }
    .avatar:first-child {
        margin-right: auto;
    }
    .heroized {
        margin-left: 0;
        margin-right: 0;
    }
    .profiles:before,
    .profiles:after {
        content: "";
    }
    .profiles {
        /* todo: icons */
        font-size: smaller;
    }
}
